.main {
  background-color: #eafbac;
  height: 800px;
}

.main .reservationList {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  height: 70%;
  background-color: orange;
}

.main .reservationList .title {
  display: flex;
  justify-content: space-around;
  background-color: greenyellow;
  height: 8%;
}

.main .reservationList .title .title__in {
  width: 10%;
}

.main .reservationList .title .title__props {
  padding: 5px;
  text-align: center;
  border: 1px solid grey;
}

.main .pageButton {
  display: flex;
  background-color: palevioletred;
  height: 50px;
}
